<header class="header {{addClass}}">
    <div class="header-socials">
        <div class="header-social _vk"></div>
        <div class="header-social _gh"></div>
        <div class="header-social _in"></div>
    </div>
    <div class="header-button" id="header-button">
        <div class="header-el"></div>
        <div class="header-el"></div>
        <div class="header-el"></div>
    </div>
</header>

<div class="fullscreen" id="fullscreen-menu">
    <div class="fullscreen-list">
        <a href="//localhost:3000/works.html" class="fullscreen-item"><span class="link-text">Мои работы</span></a>
        <a href="//localhost:3000/blog.html" class="fullscreen-item"><span class="link-text">Блог</span></a>
        <a href="//localhost:3000/aboutMe.html" class="fullscreen-item"><span class="link-text">Обо мне</span></a>
        <a href="//localhost:3000//logIn.html" class="fullscreen-item"><span class="link-text">Авторизация</span></a>
    </div>
</div>