<header class="header {{addClass}}" id="header">
    <div class="header__socials">
        <div class="header__social _vk"></div>
        <div class="header__social _gh"></div>
        <div class="header__social _in"></div>
    </div>
    <div class="header__button" id="header-button">
        <div class="header__button-el"></div>
        <div class="header__button-el"></div>
        <div class="header__button-el"></div>
    </div>
</header>

<div class="fullscreen" id="fullscreen-menu">
    <div class="fullscreen__list">
        <a href="/works.html" class="fullscreen__item">
            <span class="fullscreen__link">Мои работы</span>
        </a>
        <a href="/blog.html" class="fullscreen__item">
            <span class="fullscreen__link">Блог</span>
        </a>
        <a href="/aboutMe.html" class="fullscreen__item">
            <span class="fullscreen__link">Обо мне</span>
        </a>
        <a href="/logIn.html" class="fullscreen__item">
            <span class="fullscreen__link">Авторизация</span>
        </a>
    </div>
</div>