.blog-wrap {
    box-sizing: border-box;
    padding: 92px 0 0;
    min-width: 1200px;
    min-height: 100%;
    }

    .blog-content {
        position: relative;
        padding: 0 0 110px;
        }

    .blog__posts-wrap {
        padding: 0 390px 0 0;
        min-width: 800px;
        background: #fff;
        min-height: 400px;
        }

    .sidebar {
        padding: 135px 0 0;
        box-sizing: border-box;
        position: absolute 0 0 110px *;
        width: 390px;
        font: 28px/1 'Roboto-Light', Helvetica, Arial;
        color: #fff;
        background: #00bfa5 inline('assets/blogText.svg') center 270px no-repeat;
        background-size: size('assets/blogText.svg');
        }

        .sidebar__info {
            padding: 0 50px;
            margin: 0 0 60px;
            text-align: center;
            font-size: 16px;
            }

            .sidebar__photo {
                size: 140px;
                margin: 0 auto 40px;
                border-radius: 50%;
                overflow: hidden;
                }

            .sidebar__title-wrap {
                color: #fff;
                text-decoration: none;
                text-transform: uppercase;
                font: 46px/1 'BERNIER Regular', Helvetica, Arial;
                text-align: center;
                }

                .sidebar__title {
                    position: relative;
                    
                    &:after, &:before {
                        content: '';
                        display: block;
                        size: 20px 5px;
                        background: #4dd2c1;
                        }
                    &:before {
                        position: absolute 50% * * -40px;
                        }
                    &:after {
                        position: absolute 50% -40px * *;
                        }
                    }

                .sidebar__desc {
                    font: 16px/1 'Roboto-Light', Helvetica, Arial;
                    text-align: center;
                    margin: 0 0 65px;
                    }

        .sidebar__posts {
            &._fixed {
                width: 390px;
                position: fixed 92px 0 * *;
                }
            &._fixBottom {
                position: absolute * 0 0 0;
                }
            }

        .sidebar__post {
            padding: 30px 0;
            display: block;
            text-decoration: none;
            text-align: center;
            cursor: pointer;
            transition: background ease-in .3s, color ease-in .3s;

            &:hover, &._active {
                background: #fff;
                color: #00bfa5;
                }
            }
