<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Блог</title>
    <link rel="stylesheet" href="./bundel.min.css">
</head>
<body>
    <div class="blog-wrap">
        {{> header addClass=portfolio.blog}}
        <div class="blog-content">
            <div class="blog__posts-wrap">
                {{> post dataTop="0px"}}
                {{> post dataTop="800px"}}
                {{> post dataTop="1600px"}}
                {{> post dataTop="2400px"}}
            </div>
            <aside class="blog__sidebar">
                <div class="blog__sidebar-info">
                    <div class="blog__sidebar-photo">
                        <img src="./assets/photo.png" alt="">
                    </div>
                    <div class="blog__sidebar-title"><span class="blog__link-text">Блог</span></div>
                    <div class="blog__sidebar-disc">Статьи, которые я написал</div>
                </div>
                <div class="blog__posts-name" id="posts-list">
                    <a class="blog__post-name _active" data-top="">Самое важное в Sass</a>
                    <a class="blog__post-name" data-top="">Приемы в верске, без которых не обходится ни один сайт</a>
                    <a class="blog__post-name" data-top="">Самый необходимый набор плагинов Gulp</a>
                    <a class="blog__post-name" data-top="">Почему я выбрал Jade</a>
                </div>
            </aside>
        </div>
    </div>

    {{> footer addClass=footer.blog}}

    <script src="./scripts.js"></script>
</body>
</html>