<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Мои работы</title>
    <link rel="stylesheet" href="bundel.min.css">
</head>
<body>

{{> portfolioHeader addClass=portfolio.blog}}

<section class="blog">

</section>

{{> footer addClass=footer.blog}}

<script src="./scripts.js"></script>
</body>
</html>