.blog__header {
    position: absolute 0 0 * 0;
    box-sizing: border-box;
    padding: 25px 20px 0;
    min-width: 1200px;
    background: linear-gradient(to right, #84aead 0%, #81aaab 25%, #7aa8ab 50%, #639fa4 100%);
    size: 100% 92px;

    &:after {
        display: blog;
        clear: both;
        content: '';
        }
    }

    .blog__header-socials {
        float: left;
        margin: 0 -20px 0 0;
        }

        .blog__header-social {
            display: inline-block;
            margin: 0 20px 0 0;
            vertical-align: middle;
            cursor: pointer;
            transition: background ease-in .1s;

            &._vk {
                width: width('assets/vk_header.svg');
                height: height('assets/vk_header.svg');
                background: inline('assets/vk_header.svg') center no-repeat;
                background-size: size('assets/vk_header.svg');

                &:hover {
                    background: inline('assets/vk_header-hover.svg') center no-repeat;
                    background-size: size('assets/vk_header.svg');
                    }
                }

            &._gh {
                width: width('assets/gh_header.svg');
                height: height('assets/gh_header.svg');
                background: inline('assets/gh_header.svg') center no-repeat;
                background-size: size('assets/gh_header.svg');

                &:hover {
                    background: inline('assets/gh_header-hover.svg') center no-repeat;
                    background-size: size('assets/gh_header.svg');
                    }
                }

            &._in {
                width: width('assets/in_header.svg');
                height: height('assets/in_header.svg');
                background: inline('assets/in_header.svg') center no-repeat;
                background-size: size('assets/in_header.svg');

                &:hover {
                    background: inline('assets/in_header-hover.svg') center no-repeat;
                    background-size: size('assets/in_header.svg');
                    }
                }
            }

    .blog__header-button {
        float: right;
        margin: 0 0 -10px;
        cursor: pointer;
        size: 40px;

        &._clicked {
            position: fixed 15px 5px * *;
            z-index: 5;
            }

        &._clicked .blog__header-el {

            &:first-child {
                transform: rotate(45deg) translateY(21px) ;
                }

            &:nth-child(2n) {
                opacity: 0;
                transform: rotate(-45deg) translateY(-5px);
                }

            &:last-child {
                transform: rotate(-45deg) translateY(-21px);
                }
             }

        &:hover {
            opacity: .8;
            }
        }

        .blog__header-el {
            margin: 0 0 10px;
            border-radius: 2px;
            background: #fff;
            transition: transform ease-in .5s, opacity ease-in .5s;
            size: 100% 5px;
            }


.blog-wrap {
    box-sizing: border-box;
    padding: 92px 0 0;
    min-width: 1200px;
    min-height: 100%;
    }

    .blog-content {
        position: relative;
        padding: 0 0 110px;
        }

    .blog__posts-wrap {
        padding: 0 390px 0 0;
        min-width: 800px;
        max-height: 1200px;
        overflow-y: scroll;
        background: #fff;
        min-height: 400px;
        }

        .blog__post-item {
            border-bottom: solid 5px #f1f1f2;
            margin: 0 0 60px;
            }

            .blog__post-wrap {
                width: 800px;
                margin: auto;
                padding: 70px 0 60px;
                font-family: 'Roboto-Regular';
                font-size: 16px;
                }

                .blog__post-title {
                    margin: 0 0 25px;
                    font-family: 'BERNIER Regular';
                    color: #455a64;
                    font-size: 35px;
                    }

                .blog__post-date {
                    color: #00bfa5;
                    }

                .blog__post-text {
                    margin: 0 0 25px;
                    color: rgba(69, 60, 100, .8);
                    }

    .blog__sidebar {
        padding: 135px 0 20px 0;
        box-sizing: border-box;
        position: absolute 0 0 110px *;
        background: #00bfa5;
        width: 390px;
        font-family: 'Roboto-Light';
        font-size: 28px;
        color: #fff;
        }

        .blog__sidebar-info {
            padding: 0 50px;
            margin: 0 0 60px;
            text-align: center;
            font-size: 16px;
            }
        
            .blog__sidebar-photo {
                size: 140px;
                margin: 0 auto 40px;
                border-radius: 50%;
                overflow: hidden;
                }
            .blog__sidebar-title {
                color: #fff;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 46px;
                font-family: 'BERNIER Regular';
                }

        .blog__post-name {
            padding: 30px 0;
            display: block;
            text-decoration: none;
            text-align: center;
            cursor: pointer;
            transition: background ease-in .3s, color ease-in .3s;

            &:hover, &._active {
                background: #fff;
                color: #00bfa5;
                }
            }
.blog__footer {
    margin: -110px 0 0;
    text-align: center;
    min-width: 1200px;
    background: #41484c;
    size: 100% 110px;
    box-sizing: border-box;
    }

    .blog__footer-copyright {
        display: inline-block;
        padding: 50px 0 0;
        width: 500px;
        margin: 0 0 60px 0;
        color: rgba(255, 255, 255, .7);
        font-size: 15px;
        font-family: 'Roboto-Light';
        }

    .blog__footer-socials {
        position: relative;
        padding: 30px 0 0;
        box-sizing: border-box;
        margin: 0 5px 0;
        float: right;
        height: 100%;
        }

        .blog__footer-social {
            cursor: pointer;
            margin: 0 25px 0;
            border-radius: 50%;
            size: 50px;
            display: inline-block;
            opacity: .8;
            transition: opacity ease-in .1s;

            &._vk {
                background: #fff inline('assets/vk_footer.svg') center no-repeat;
                background-size: size('assets/vk_footer.svg');

                &:hover {
                    opacity: 1;
                    }
                }

            &._gh {
                background: #fff inline('assets/gh_footer.svg') center no-repeat;
                background-size: size('assets/gh_footer.svg');

                &:hover {
                    opacity: 1;
                    }
                }

            &._in {
                background: #fff inline('assets/in_footer.svg') center no-repeat;
                background-size: size('assets/in_footer.svg');

                &:hover {
                    opacity: 1;
                    }
                }
            }
@keyframes show {
    from {
        opacity: 0;
        }
    to {
        opacity: 1;
        }
    }

.blog__fullscreen {
    display: none;
    animation: show .3s ease-in;
    }

.blog__fullscreen._showen {
    position: fixed 0;
    z-index: 1;
    display: block;
    background: rgba(33, 199, 177, .9);
    }

    .blog__fullscreen-list {
        margin: auto;
        padding: 80px 0 0;
        width: 420px;
        text-align: center;
        }

        .blog__fullscreen-item {
            display: block;
            margin: 0 0 80px 0;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 46px;
            font-family: 'BERNIER Regular';
            }

            .blog__link-text {
                position: relative;

                &:before {
                    position: absolute 50% * * -40px;
                    display: block;
                    background: #4dd2c1;
                    content: '';
                    size: 25px 5px;
                    }

                &:after {
                     position: absolute 50% -40px * *;
                     display: block;
                     background: #4dd2c1;
                     content: '';
                     size: 25px 5px;
                     }
                }

