<!DOCTYPE html>
<html>
<header>
    <meta charset="UTF-8">
    <title>LogIn</title>
    <link rel="stylesheet" href="./bundel.min.css">
</header>
<body>
<div class="wrap">
    <div class="content">
        <div class="button-login__wrap">
            <a href="#" class="button-login">Авторизоваться</a>
        </div>
        <div class="auth">
            <div class="auth__photo-wrap">
                <img class="auth__photo" src="assets/photo.png" alt="">
            </div>
            <div class="auth__name">{{ logIn.name }}</div>
            <div class="auth__disc">{{ logIn.disc }}</div>
            <div class="auth__socials">
                <a class="auth__social _vk"></a>
                <a class="auth__social _gh"></a>
                <a class="auth__social _in"></a>
            </div>
            <nav class="auth__nav">
                <a href="#" class="auth__link">Мои работы</a>
                <a href="#" class="auth__link">Обо мне</a>
                <a href="#" class="auth__link">Блог</a>
            </nav>
        </div>
    </div>
</div>
<footer class="footer">© Владимир Астахов | создано с любовью в LoftSchool | 2016</footer>
</body>
</html>