<!DOCTYPE html>
<html>
<header>
    <meta charset="UTF-8">
    <title>LogIn</title>
    <link rel="stylesheet" href="./bundel.min.css">
</header>
<body>
hi, im compiled body!
and now im recompiled
</body>
</html>