<footer class="footer {{addClass}}">
    <div class="footer-copyright">© Владимир Астахов | создано с любовью в LoftSchool | 2016</div>
    <div class="footer-socials">
        <a class="footer-social _vk"></a>
        <a class="footer-social _gh"></a>
        <a class="footer-social _in"></a>
    </div>
</footer>