<footer class="footer {{addClass}}" id="footer">
    <div class="footer__copyright">© Владимир Астахов | создано с любовью в LoftSchool | 2016</div>
    <div class="footer__socials">
        <a class="footer__social _vk"></a>
        <a class="footer__social _gh"></a>
        <a class="footer__social _in"></a>
    </div>
</footer>