.footer {
    position: relative;
    box-sizing: border-box;
    height: 60px;
    background: rgba(0, 0, 0, .5);
    text-align: center;

    &._blog {
        margin: -110px 0 0;
        min-width: 1200px;
        height: 110px;
        background: #41484c;

        & .footer__copyright {
            padding: 50px 0 0;
            }

        & .footer__socials {
            margin: 0 5px 0;
            padding: 30px 0 0;
            }
        }
    }

    .footer__copyright {
        display: inline-block;
        box-sizing: border-box;
        padding: 20px 0 0;
        width: 500px;
        color: rgba(255, 255, 255, .7);
        font: 15px/1 'Roboto-Light', Helvetica, Arial;
        }

    .footer__socials {
        position: absolute 0 0 * *;
        box-sizing: border-box;
        height: 100%;
        }

        .footer__social {
            display: inline-block;
            margin: 0 20px 0 0;
            border-radius: 50%;
            opacity: .8;
            cursor: pointer;
            transition: opacity ease-in .1s;
            size: 50px;

            &._vk {
                background: #fff inline('assets/vk_footer.svg') center no-repeat;
                background-size: size('assets/vk_footer.svg');

                &:hover {
                    opacity: 1;
                    }
                }

            &._gh {
                background: #fff inline('assets/gh_footer.svg') center no-repeat;
                background-size: size('assets/gh_footer.svg');

                &:hover {
                    opacity: 1;
                    }
                }

            &._in {
                background: #fff inline('assets/in_footer.svg') center no-repeat;
                background-size: size('assets/in_footer.svg');

                &:hover {
                    opacity: 1;
                    }
                }
            }