<div class="circle-wrap">
    <svg class="circle" width="120" height="120">
        <circle transform="rotate(-90)" r="50" cx="-60" cy="60" />
        <circle transform="rotate(-90)" style="stroke-dasharray:{{toCircleLen percent}}px 314px;" r="50" cx="-60" cy="60" />
    </svg>
    <span class="circle__text">{{skillName}}</span>
</div>
