<div class="portfolio-header {{addClass}}">
    {{> header}}
    <div class="portfolio-person">
        <div class="portfolio__photo-wrap">
            <img class="portfolio__photo" src="assets/photo.png" alt="">
        </div>
        <div class="portfolio__info">
            <div class="portfolio__info-name _work">{{ logIn.name }}</div>
            <div class="portfolio__info-disc _work">{{ logIn.desc }}</div>
            <div class="portfolio__info-disc _blog">Статьи, которые я написал</div>
        </div>
    </div>
</div>