@font-face {
    font-family: 'Roboto-Medium';
    src: url('./fonts/Roboto-Medium');
    }

@font-face {
    font-family: 'Roboto-Regular';
    src: url('./fonts/Roboto-Regular');
    }

@font-face {
    font-family: 'Roboto-Light';
    src: url('./fonts/Roboto-Light');
    }

@font-face {
    font-family: 'BERNIER Distressed';
    src: url('./font/BERNIERDistressed-Regular.otf');
    }

@font-face {
    font-family: 'BERNIER Regular';
    src: url('./font/BERNIERDRegular-Regular.otf');
    }

@font-face {
    font-family: 'BERNIER Shade';
    src: url('./font/BERNIERShade-Regular.otf');
    }

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    }
