.login-loyout {
    background: url('assets/background.jpeg') top center no-repeat;
    background-size: size('./assets/background.jpeg', 3);
    }

.login-wrap {
    min-height: 100%;
    box-sizing: border-box;
    }

    .login-content {
        min-height: 510px;
        padding: 0 0 60px;
        }

.button-login__wrap {
    position: relative 25px 5px * *;
    width: 100%;

    &:after {
        clear: both;
        content: '';
        display: block;
        }
    }

    .button-login {
        z-index: 1;
        display: block;
        float: right;
        padding: 0 25px;
        border: solid 1px #fff;
        border-radius: 10px;
        color: #fff;
        text-decoration: none;
        line-height: 45px;
        cursor: pointer;
        transition: background ease-in .1s, color ease-in .1s;

        &:hover {
            background: #fff;
            color: #00bfa5;
            }
        }

.auth {
    z-index: 1;
    box-sizing: border-box;
    font-family: 'Roboto-Medium';
    position: absolute 50% * * 50%;
    overflow: hidden;
    padding: 40px 60px 0;
    border-radius: 10px;
    background: rgba(255, 255, 255, .8);
    color: #455a64;
    text-align: center;
    transform: translate(-50%, -50%);
    min-width: 380px;
    min-height: 395px;
    }

    .auth__photo-wrap {
        overflow: hidden;
        margin: 0 auto 20px;
        box-shadow: 0 0 10px -6px;
        border-radius: 50%;
        size: 140px;
        }

    .auth__info {
        max-width: 260px;
        }

        .auth__info-name {
            font-size: 28px;
            }

        .auth__info-disc {
            margin: 0 0 35px;
            font-size: 16px;
            color: #475a63;
            opacity: .8;
            font-family: 'Roboto-Regular';
            }

    .auth__socials {
        margin: 0 -25px 90px 0;
        }

        .auth__social {
            display: inline-block;
            margin: 0 25px 0 0;
            vertical-align: middle;
            cursor: pointer;
            transition: background ease-in .1s;

            &._vk {
                width: width('assets/vk.svg');
                height: height('assets/vk.svg');
                background: inline('assets/vk.svg') center no-repeat;
                background-size: size('assets/vk.svg');

                &:hover {
                    background: inline('assets/vk_hover.svg') center no-repeat;
                    background-size: size('assets/vk.svg');
                    }
                }

            &._gh {
                 width: width('assets/gh.svg');
                 height: height('assets/gh.svg');
                 background: inline('assets/gh.svg') center no-repeat;
                 background-size: size('assets/gh.svg');

                &:hover {
                    background: inline('assets/gh_hover.svg') center no-repeat;
                    background-size: size('assets/gh.svg');
                    }
                }


            &._in {
                 width: width('assets/in.svg');
                 height: height('assets/in.svg');
                 background: inline('assets/in.svg') center no-repeat;
                 background-size: size('assets/in.svg');

            &:hover {
                    background: inline('assets/in_hover.svg') center no-repeat;
                    background-size: size('assets/in.svg');
                    }
                }
            }

    .auth__nav {
        position: absolute * 0 0;
        size: 101% 50px;

        &:after {
            display: block;
            clear: both;
            content: '';
            }
        }

        .auth__link {
            float: left;
            box-sizing: border-box;
            padding: 0 33px 0;
            border-right: solid 2px #73c8c1;
            background: #0cb2a0;
            background: rgba(12, 178, 160, .7);
            color: #fff;
            text-decoration: none;
            font-size: 15px;
            line-height: 50px;
            transition: background ease-in .1s;

            &:hover {
                background: #068b83;
                background: rgba(6, 139, 131, .8);
                }

            &:last-child {
                border: 0;
                }
            }

.login-footer {
    margin: -60px 0 0;
    display: block;
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto-Light';
    }

@media (width <= 720px) {
    .wrap {
        padding: 50px 0 0;
        }

    .auth {
        margin-top: calc(50% + 50px);
        transform: translate(-50%, -100%);
        }
    }