.works__title {
    margin: 0;
    padding: 70px 0;
    text-align: center;
    font: 63px/1 'BERNIER Regular', Helvetica, Arial;
    color: #373e42;

    &._works {
        background: #faf8f0 inline('assets/workText.svg') center no-repeat;
        background-size: size('assets/workText.svg');
        }

    &._about {
        background: inline('assets/aboutText.svg') center no-repeat;
        background-size: size('assets/aboutText.svg');
        }
    }

    .works__title_styling {
        display: inline-block;
        position: relative;
        max-width: 285px;

        &:before, &:after {
            content: '';
            display: block;
            size: 20px 5px;
            background: #cbcbc6;
            }
        &:before {
            position: absolute 25px * * -45px;
            }
        &:after {
            position: absolute 25px -45px * *;
            }
        }

.examples {
    height: 750px;
    background: linear-gradient(to right, #f0efe9 0%, #f0efe9 50%, #efebe0 50%, #efebe0 100%);
    display: flex;
    }

    .examples__block {
        height: 100%;
        flex: 1;
        position: relative;
        }

        .examples__item {
            position: absolute 50% * * 50%;
            transform: translate(-50%, -50%);
            width: 415px;
            text-align: center;
            }

            .examples__item-title {
                margin: 0 0 45px;
                font: 36px/1 'BERNIER Regular', Helvetica, Arial;
                color: #455a64;
                text-align: center;
                }

                .examples__item-title_styling {
                    width: 280px;
                    position: relative;
                    display: inline-block;

                    &:before, &:after {
                        content: '';
                        display: block;
                        size: 20px 5px;
                        background: #cbccc8;
                        }
                    &:before {
                        position: absolute 15px * * -45px;
                        }
                    &:after {
                        position: absolute 15px -45px * *;
                        }
                    }

                .examples__item-dis {
                    margin: 0 0 45px;
                    text-align: center;
                    padding: 15px;
                    color: #20b5a1;
                    font: 16px/1 'Roboto-Medium', Helvetica, Arial;
                    text-transform: uppercase;
                    border-top: solid 1px #acd6ce;
                    border-bottom: solid 1px #acd6ce;
                    }

                .examples__link {
                    display: inline-block;
                    background: #00bfa5 inline('assets/link.svg') 15px center no-repeat;
                    background-size: size('assets/link.svg');
                    color: #fff;
                    border-radius: 5px;
                    padding: 0 20px 0 45px;
                    text-decoration: none;
                    font: 16px/45px 'Roboto-Medium', Helvetica, Arial;
                    transition: opacity ease-in .2s;

                    &:hover {
                        opacity: .5;
                        }
                    }

        .examples__main-photo-wrap {
            height: 525px;
            background-size: size('./assets/siteSchool.png', 1.2);
            background-position: center;
            background-repeat: no-repeat;
            }
            .img-disebale {
                display: none;
                }

        .examples__min-photos {
            height: 225px;
            display: flex;
            }

            .examples__min-photo {
                flex: 1;
                position: relative;
                height: 100%;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                transition: opacity ease-in .3s;

                &:hover {
                    opacity: .5;
                    }

                &._last:after, &._next:after {
                    content: '';
                    display: block;
                    position: absolute 0 0;
                    background: rgba(0, 0, 0, .5) inline('assets/arrow.svg') center no-repeat;
                    background-size: size('assets/arrow.svg');
                    cursor: pointer;
                    }
                &._next:after {
                    transform: rotate(180deg);
                    }
                }
.say {
    min-height: 1275px;
    background: url('assets/worksBottomBg.png') bottom no-repeat;
    }

    .say__peopls-wrap {
        margin: 0 auto;
        width: 785px;
        }

        .say__peopls-list {
            margin: 0 -40px 0 0;
            }

        .say__people {
            display: inline-block;
            margin: 0 40px 40px 0;
            padding: 60px 0 0;
            width: 370px;
            min-height: 225px;
            background: inline('assets/quote.svg') left top no-repeat;
            background-size: 30px;
            color: #455a64;
            font: 16px/22px 'Roboto-Regular', Helvetica, Arial, sans-serif;
            }

            .say__text {
                margin: 0 0 30px;
                }

        .say__person-photo {
            vertical-align: middle;
            display: inline-block;
            size: 80px;
            margin: 0 20px 0 0;
            background-size: cover;
            border-radius: 50%;
            background-position: center;
            background-repeat: no-repeat;
            }

        .say___person-info {
            vertical-align: middle;
            display: inline-block;
            width: 260px;
            color: #20b5a1;
            font: 16px/1 'Roboto';
            }

            .say__person-name {
                margin: 0 0 15px;
                font-weight: bold;
                }

    .contact-me {
        z-index: 1;
        position: relative;
        overflow: hidden;
        padding: 35px 20px 45px;
        box-sizing: border-box;
        margin: auto;
        width: 380px;
        min-height: 440px;
        border-radius: 3px;
        background: url('./assets/bg-attachment.png') 55% 65% no-repeat;
        background-size: size('./assets/bg-attachment.png', 1);
        }

        .contact-me__title {
            margin: 0 0 38px;
            text-align: center;
            font: 35px/1 'BERNIER Regular', Helvetica, Arial;
            color: #455a64;
            }

        .contact-me__title_styling {
            position: relative;

            &:before, &:after {
                content: '';
                display: block;
                size: 20px 5px;
                background: #cbcbc6;
                }
            &:before {
                position: absolute 15px * * -40px;
                }
            &:after {
                position: absolute 15px -40px * *;
                }
            }

        .contact-me__input {
            padding: 17px 20px;
            margin:  0 0 15px;
            display: block;
            background: #fff;
            width: 337px;
            box-sizing: border-box;
            border-radius: 3px;
            border: none;
            outline: none;
            font: 16px/1 'Roboto-Regular', Helvetica, Arial;
            color: #373e42;

            &._textarea {
                height: 140px;
                resize: none;
                }

            &:focus {
                box-shadow: inset 0 0 15px -3px #0c9;
                }
            }

        .contact-me__buttons {
            position: absolute * 0 0;
            display: flex;
            }

        .contact-me__button {
            flex: 1;
            outline: none;
            color: #fff #268b8b;
            font: 16px/45px 'Roboto-Regular', Helvetica, Arial;
            text-decoration: none;
            text-align: center;
            transition: background ease-in .2s;

            &:first-child {
                box-sizing: border-box;
                border-right: solid 1px #82cfc9;
                }
            &:hover {
                background: #26bbaa;
                }
            &:focus {
                 box-shadow: inset 0 0 15px -3px #0c9;
                 }
            }