<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Мои работы</title>
    <link rel="stylesheet" href="bundel.min.css">
</head>
<body class="about__layout">

    {{> portfolioHeader addClass=portfolio.work}}
    <div class="about__content">

    </div>
    {{> portfolioFooter addClass=footer.work}}

    <script src="./scripts.js"></script>
</body>
</html>