<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Обо мне</title>
    <link rel="stylesheet" href="bundel.min.css">
</head>
<body class="about__layout">
    <div class="portfolio-header">
        <div class="portfolio-person">
            <div class="portfolio__photo-wrap">
                <img class="portfolio__photo" src="assets/photo.png" alt="">
            </div>
            <div class="portfolio__info">
                <div class="portfolio__info-name">{{ logIn.name }}</div>
                <div class="portfolio__info-disc">{{ logIn.disc }}</div>
            </div>
        </div>
    </div>
    <div class="about__content">

    </div>

    <div class="map" id="map"></div>

    <div class="portfolio__footer-wrap">
        <div class="portfolio__footer-up"></div>
        <div class="portfolio__footer"></div>
    </div>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAAj8lyB8TWsy1ieWg1oKwLz862ZxnBDw
        &libraries=visualization&callback=initMap">
    </script>
    <script src="./scripts.js"></script>

</body>
</html>