.about__content {
    background: linear-gradient(to right, #efeee9 50%, #eeebdf 50%);
    display: flex;
    }

    .about__content-block {
        flex: 1 2px;

        &:first-child {
            position: relative;
            }
        &:last-child {
            padding: 0 35px;
             flex: .9;
            }
        }

        .about__profile-title {
            position: absolute -80px * * 20px;
            margin: 0;
            background: inline('assets/aboutText.svg') center no-repeat;
            background-size: 100% auto;
            text-align: center;
            font: 63px/200px 'BERNIER Regular', Helvetica, Arial;
            color: #373e42;
            size: 45% 200px;
            }

            .about__profile-title_styling {
                position: relative;

                &:before, &:after {
                    display: block;
                    content: '';
                    size: 20px 5px;
                    background: #cacbc8;
                    transform: translateY(-50%);
                    }
                &:before {
                    position: absolute 50% * * -45px;
                    }
                &:after {
                    position: absolute 50% -45px * *;
                    }
                }

        .about__profile {
            padding: 15px 25px 50px 50%;
            box-sizing: border-box;
            }

            .about__photo-wrap {
                position: relative;
                height: 390px;
                overflow: hidden;
                }

                .about__photo {
                    position: absolute 50% 50% * *;
                    transform: translate(50%, -50%);
                    }

                .about__title-disc {
                    text-align: center;
                    color: #455a64;
                    font: 35px/1 'BERNIER Regular', Helvetica, Arial;
                    }
                .about__profile-disc {
                    color: #455a64;
                    font: 16px/1 'Roboto-Regular', Helvetica, Arial;
                    }

        .whatICan__title {
            width: 220px;
            text-align: center;
            margin: 0 auto 35px;
            font: 35px/1 'BERNIER Regular', Helvetica, Arial;
            color: #455a64;
            position:relative;

            &:before, &:after {
                display: block;
                content: '';
                size: 20px 5px;
                background: #c9c8c0;
                }
            &:before {
                position: absolute 15px * * -45px;
                }
            &:after {
                position: absolute 15px -45px * *;
                }
            }

        .whatICan__disc {
            margin: 0 0 60px;
            font: 16px/1 Roboto-Regular, Helvetica, Arial;
            color: #455a64;
            opacity: .8;
            }

        .whatICan__row {
            margin: 0 0 40px;
            }

            .whatICan__row-title {
                margin: 0 0 20px;
                font: 28px/1 Roboto-Light, Helvetica, Arial;
                color: #455a64;
                }

            .whatICan__list {
                margin: 0 -40px 0 0;
                }

.contacts-wrap {
    position: relative;
    }

    .contacts {
        position: absolute 50% 50% * *;
        margin: -50px 0 0;
        overflow: hidden;
        padding: 40px;
        box-sizing: border-box;
        border-radius: 10px;
        background: rgba(255, 255, 255, .8);
        transform: translate(50%, -50%);
        width: 380px;
        }

        .contacts__title-wrap {
            margin: 0 0 35px;
            text-align: center;
            }

            .contacts__title {
                position: relative;
                color: #373e42;
                font: 35px/1 'BERNIER Regular', Helvetica, Arial;

                &:before, &:after {
                    content: '';
                    display: inline-block;
                    size: 20px 5px;
                    background: #c2d2d0;
                    }
                &:before {
                    position: absolute 50% * * -35px;
                    }
                &:after {
                    position: absolute 50% -35px * *;
                    }
                }

        .contacts__list {
            padding: 0;
            margin: 0 auto -25px;
            list-style: none;
            width: 290px;
            }

            .contacts__link {
                display: block;
                margin: 0 0 25px;
                text-decoration: none;
                color: #455a64;
                transition: color ease-in .2s;

                &:hover {
                    color: #00bea4;
                    }
                }

                .contacts__item {
                    padding: 0 0 0 30px;
                    font: 16px/1 Roboto-Regular, Helvetica, Arial;

                        &._skype {
                            min-height: height('assets/skype.svg');
                            background: inline('assets/skype.svg') 0 50% no-repeat;
                            background-size: size('assets/skype.svg');
                            }

                        &._mail {
                            min-height: height('assets/mail.svg');
                            background: inline('assets/mail.svg') 0 50% no-repeat;
                            background-size: size('assets/mail.svg');
                            }

                        &._phone {
                            min-height: height('assets/phone.svg');
                            background: inline('assets/phone.svg') 0 50% no-repeat;
                            background-size: size('assets/phone.svg');
                            }
                        }

.map {
    height: 1075px;
    }