.about__layout {
    background: url('assets/background.jpeg') center top/100% auto no-repeat;

    }

    .portfolio-header {
        position: relative;
        padding: 150px 0 0;
        min-height: 600px;
        background: inline('assets/portfolio.svg') center 150px no-repeat;

        &:after {
            position: absolute * 50% 0 *;
            transform: translateX(50%);
            content: '';
            display: block;
            margin: 0 0 -160px 0;
            border-top: solid 160px transparent;
            border-bottom: solid 160px transparent;
            border-left: solid 900px #efeee9;
            border-right: solid 900px #eeebdf;
            }
        }

        .portfolio-person {
            width: 320px;
            margin: auto;
            text-align: center;
            color: #fff;
            font-family: 'Roboto-Regular';
            font-size: 35px;
            }

            .portfolio__photo-wrap {
                size: 140px;
                border-radius: 50%;
                margin: 0 auto 20px;
                overflow: hidden;
                }

            .portfolio__info-disc {
                font-size: 16px;
                }

    .about__content {
        min-height: 850px;
        background: linear-gradient(to right, #efeee9 0%, #efeee9 50%, #eeebdf 50%, #eeebdf 100%);
        }


    .portfolio__footer-wrap {
        margin: -220px 0 0;
        }

        .portfolio__footer-up {
            position: relative;
            overflow: hidden;
            height: 160px;

            &:after {
                margin: 0 0 -160px;
                display: block;
                content: '';
                position: absolute 0 50% * *;
                transform: translateX(50%);
                border-top: solid 160px transparent;
                border-bottom: solid 160px transparent;
                border-left: solid 900px rgba(0, 0, 0, .3);;
                border-right: solid 900px rgba(0, 0, 0, .3);;
                }
            }

        .portfolio__footer {
            position: relative;
            background: rgba(0, 0, 0, .3);
            height: 60px;
            }


.map {
    height: 1075px;
    }